<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <meta name="description" content="Ostéopathes Rezé - Cabinet de Julie Marsault, Bertrand Thery et Pascal Bouvattier">
    <!-- FACEBOOK -->
    <meta property="og:image" content="http://osteo-reze.fr/ogp.jpg" />
    <meta property="og:image:secure_url" content="https://secure.osteo-reze.fr/ogp.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Ostéopathes Rezé - Cabinet de Julie Marsault, Bertrand Thery et Pascal Bouvattier" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>
    <%= google_analytics_tag %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxoP3wmcYpZ-5L7oPq2PlJK39vVDOWBdQ&callback=initMap">
    </script>
  </body>
</html>
