---
title: John Doe - Ostéopathe à Nantes
---

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%), url(<%= image_path 'cabinet-osteopathe.jpg'%>); min-height: calc(100vh - 70px);">
        <div class="banner-content">
          <div class="banner-title">
            <h1>Cabinet d'Ostéopathie à Nantes</h1>
          </div>
          <div class="banner-opening">
            <p><strong>Du Lundi au Samedi</strong></p>
            <p><strong>9h à 19h</strong></p>
          </div>
          <% data.users.each do |user| %>
            <p><%= user.address %>, <%= user.postalcode %>, <%= user.city %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" style="background-image: url(<%= image_path 'salle-attente-cabinet-osteo.jpg'%>); background-size: cover; min-height: 300px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 mindspirit brown-background">
      <div class="spirit-content">
      <h2>Notre philosophie</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi omnis, aliquam, nesciunt soluta praesentium dolor a! At, accusamus, neque. Dolorem, aspernatur perspiciatis tempore nihil molestiae eum deserunt aliquid? Veritatis, corporis.</p>
      </div>
    </div>
  </div>
</div>
<div class="container hidden-xs features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="feature" style="background-image: url(<%= image_path 'osteopathie-bebe.jpg'%>);">
          <div class="card-content">
            <h2>Nourrissons</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores architecto aut eveniet molestias recusandae veritatis error dicta adipisci dolorum, quod, aperiam magni eaque reprehenderit non quis, labore. Deserunt, tempore, ipsa!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <div class="feature" style="background-image: url(<%= image_path 'osteopathie-femme-enceinte.jpg'%>);">
          <div class="card-content">
            <h2>Femmes Enceintes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores architecto aut eveniet molestias recusandae veritatis error dicta adipisci dolorum, quod, aperiam magni eaque reprehenderit non quis, labore. Deserunt, tempore, ipsa!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="feature" style="background-image: url(<%= image_path 'osteopathie-sport.jpg'%>);">
          <div class="card-content">
            <h2>Sportifs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores architecto aut eveniet molestias recusandae veritatis error dicta adipisci dolorum, quod, aperiam magni eaque reprehenderit non quis, labore. Deserunt, tempore, ipsa!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div id="map"></div>
      </div>
  </div>
</div>

